[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-testing = "*"
requests = "*"
flask-restful = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-cors = "*"
pymysql = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.8"
